.btn-secondary {
  color: #f27125 !important;
  border: 1px solid #f27125 !important;
  background-color: inherit !important;
}

.btn-dropdown {
  background-color: #f27125;
  color: #fff !important;
  border: none;

  &:hover {
    color: #fff !important;
    background-color: green !important;
  }
  &:active {
    background-color: green !important;
  }
  &:focus {
    background-color: green !important;
    box-shadow: none !important;
  }
}
