@import '../../Styles/custom';

.page-heading {
        color: rgb(64, 158, 64);
    }
    .dashboard-content {
        height: 100%;
    }
    
    @media (max-width: 576px) {
    .dashboard-wrapper {
        align-items: center;
               justify-content: center;
               display: flex;
               flex-direction: column;
    }
    .page-heading {
        flex-direction:column;
    }
    .date-filters {
        margin-top: 15px;
    }
}