@import "../../../../Styles/custom";


.dashboard-card {
  .card {
  background:linear-gradient(135deg, #ffffff 0%,#ffe1d25d 100%);
  // box-shadow: unset !important;
}
}

@media (max-width: 575px) {
  .dashboard-card {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
