@import './_theme.scss';
@import '../Components/Common/Buttons/buttons.scss';

a {
  text-decoration: none !important;
  color: black;
  &:hover {
    color : $main-color;
  }
}
 .dropdown-item:active {
   background-color: transparent;
 }

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  
  .content-wrapper {
    width: calc(100% - 20%);
    margin-left: auto;
    background-color:#f1f5f9;
    transition: all ease-in-out 250ms;
    &.full-width {
      width: 100%;
      transition: all ease-in-out 250ms;
    }
    .page-wrapper {
      margin-top: 93px;
      padding: 0 30px;
     .main-heading{
       color: $sec-color;
     }
      .sec-heading {
        color: $primary;
      }
     .sec-text {
       color : $sec-color;
     } 
     .img {
      color : $sec-color;
     }
     .card {
       border-radius: 15px;
     }
     .card-title {
      color : $main-color;
    }
    .card-text {
      color : $sec-color;
    }
    h5,h6, p {
    color :  $primary-light;
    }
    }
  }
}

@media (max-width : 1200px) {
  .content-wrapper {
    width: calc(100% - 30%) !important ;
    margin-left: auto;
    background-color:#f1f5f9;
    transition: all ease-in-out 250ms;
    &.full-width {
      width: 100% !important;
      transition: all ease-in-out 250ms;
    }
}
}
@media (max-width : 991px) {
  .content-wrapper {
    min-width: 100%;
    transition: all ease-in-out 250ms;
    background-color:#f1f5f9;
    &.full-width {
     min-width: 100%;
    transition: all ease-in-out 250ms;
    }
}
}