@import './_theme.scss';
@import '../Components/Common/Buttons/buttons.scss';

a {
  text-decoration: none !important;
  color: black;
  &:hover {
    color : $main-color;
  }
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;

  .content-wrapper {
    width: calc(100% - 20%);
    height: 86px;
    margin-left: auto;
    transition: all ease-in-out 250ms;
    &.full-width {
      width: 100%;
      transition: all ease-in-out 250ms;
    }
    .page-wrapper {
      margin-top: 86px;
      padding: 0 30px;
      background-color:#f1f5f9;
      color : #31ad5d;
    }
  }
}