// ----------- Primary Color Starts ------------ 
$lightgrey: lightgrey;
$grey : grey;
$heading : #5e5e5e;

// -------------------------------- Global Fonts ------------------------

$largest : 36px;
$larger : 28px;
$large  : 24px;
$main : 20px;
$base : 16px;
$small : 14px;
$smaller : 12px;
$smallest : 10px;

$smallfont: 400;
$bold : 500;
$bolder : 600;
$boldest : 700;

// ------------------------- font sizes --------------------------------

$h1 :  $largest;
$h2 : 32px;
$h3 : $larger;
$links : $main;
$tagline : 15px;
$p : $smaller;

// --------------------- icon sizes ....................................

$large-icon : $largest;
$fix-icon: $larger;
$link-icon : $large;
$main-icon : $main;
$small-icon : $base;