.react-bootstrap-table table {
  table-layout: auto;
}

.iconHover:hover {
  cursor: pointer;
}

.view-icon:hover {
  cursor: pointer;
}
.view-icon:hover {
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 40%);
  -webkit-box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 40%);
  -moz-box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 40%);
}

.delete-icon:hover {
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 40%);
  -webkit-box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 40%);
  -moz-box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 40%);
}

.edit-icon:hover {
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 40%);
  -webkit-box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 40%);
  -moz-box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 40%);
}

.view-icon {
  height: 30px;
  width: 30px;
  padding: 7px;
  border-radius: 50%;
  background-color: #2dce89;
  color: white;
}

.delete-icon {
  height: 30px;
  width: 30px;
  padding: 7px;
  border-radius: 50%;
  background-color: #f5365c;
  color: white;
}

.edit-icon {
  height: 30px;
  width: 30px;
  padding: 7px;
  border-radius: 50%;
  background-color: #5e72e4;
  color: white;
}