@import '../../Styles/theme';

.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px #888888;
  background-color: $sidebar-bg;
  transition: all ease-in-out 250ms;
  &.hide-menu {
    left: -20%;
    box-shadow: unset;
    transition: all ease-in-out 250ms;
  }
  .sidebar-menu {
    height: 86px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 5px #888888;
    color: $main-color;

    .logo {
      font-size: $bigfont;
      font-weight: $boldest;
    }
    .logo-text {
        font-size: $tagline;
        margin-top: -10px;
    }
  }
    .sidebarList {
      height: auto;
      padding: 0;
      width: 100%;
      margin-top: 50px;

      .row {
        width: 100%;
        list-style-type: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sidebar-menu-links {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 10px 0px;
            color: $white !important;
            text-decoration: none;
            &:hover {
                color: #f27125 !important;
                cursor: pointer;
                background-color: #f2f2f2;
              }

            #icon {
                flex: 25%;
                display: grid;
                place-items: center;
            }
            #title {
                flex: 75%;
                display: grid;
            }
        }
      }
  }
  }
//   @media (max-width: 767px) {

//   }
// }
//   }