@import '../../../Styles/custom';

.order-profile-container {
    padding: 30px;
}

.profile-pic-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pic-holder {
    text-align: center;
    border-radius: unset !important;
    width: 240px;
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pic-holder .pic {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  @media (max-width:1024px) {
      .user-profile-container {
        width: 100%;
      }
  }

  @media (max-width:991px) {
    .user-profile-container {
     padding-left: 30px;
    }
}
@media (max-width:768px) {
    .user-profile-container {
     padding-left: 20px;
    }
    .page-heading {
        display: flex;
        align-items: center;
        justify-content: center;
    } 
  
}
@media (max-width:576px) {
    .user-profile-container {
     padding-left: 10px;
    }
}